rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir a cualquier usuario leer documentos
    match /{document=**} {
      allow read: if true;
      // Restringir la escritura solo a usuarios autenticados
      allow write: if true;
    }
  }
}
